ion-toolbar{
   --background: #fff;
   ion-icon {
      color: #fff;
   }
}
.margin-left {
   margin-left: 0.5rem;
}

ion-avatar, img{
    height: 4rem;
    width: 4rem;
 
}
ion-item {
   ion-label {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      text-transform: capitalize;
    }
}



.blob {
   height: 100px;
   background-image: url('../../../assets/blob.svg');
   background-size: contain;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ion-text-capitalize{
 
   font-family: 'Orbitron', sans-serif;
   font-size: 14px;
   font-weight: 550;
}